<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>The QT Admin</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	
<style type="text/css">
	@import url(http://reset5.googlecode.com/hg/reset.min.css);
	 
	body{
		color: #242323;
	}
	a{color: #8C3130;}
		a:hover{}
	ul{list-style-type: none;}
	
	h3{font-size: 1.3em;}
	
	#container{
		padding: 20px;
	}
	
	header{
		margin-bottom: 30px;
		font-size: 1.2em;
	}

	#author-admin{
		display: none;
	}

	section{
		overflow: hidden;
		padding: 20px 0;
		border-bottom: 3px solid #555;
	}
	
		#quote-input form{
			float: left;
			width: 600px;
		}

		#author-input form{
			width: 100%;
		}
			#author-input form fieldset{
				overflow: hidden;
				float: left;
				width: 600px;
			}
				#author-input #design input{float: left;}

				#author-input input[type='submit']{margin-bottom: 30px !important;}
	
	input, textarea{
		display: block;
		margin-bottom: 20px;
		padding: 5px;
	}
		input.correct{background: #17A768;}
		input.incorrect{background: #c06363;}

	#authors-data{text-align: center;}
		#authors-data thead{border-bottom: 2px solid #ccc;}
		#authors-data th, #authors-data td{padding: 4px;}
	
	#schedule{}
		#schedule .year{overflow: hidden; display: block;}
		#schedule .month{overflow: hidden; display: block; float: left; width: 300px; height: 200px; margin-right: 40px;}
		#schedule p{display: block; float: left; padding: 10px; width: 20px; height: 20px; text-align: center;}
		
		#schedule .no-quote{color: #c06363;}
		#schedule .quote{color: #17A768; cursor: pointer; font-weight: bold;}
			#schedule .quote:hover{background: #ccc;}
		#schedule .today{background: #aaa;}
	
</style>

<script type="text/javascript">
	var monthNames = [ "January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December" ];

    var currentAuthors = {};

	// INIT
	$(document).ready(function(){
		// quotesomefetch link listener
		$("form#fetch-url input[type='submit']").click(function(event){
			fetchQuotesome($("form input[type='url']").val());
		});
		
		// add-quote db link listener
		$("form#add-quote").submit(addQuote);

		// update db link listener
		$("form#add-author").submit(addAuthor);

		// clear author form
		$("a#clear-quote").click(function(event){
			event.preventDefault();
			clearQuoteForm();
		});

		// clear author form
		$("a#clear-author").click(function(event){
			event.preventDefault();
			clearAuthorForm();
		});

		// check if authorID exists when quote field change
		$("#quote-input #author-id").keyup(function(event){
			checkAuthorID($("#quote-input #author-id").val());
		});
		
		// fetch schedule link listener
		$("a#fetch-schedule").click(fetchSchedule);
		
		// fetch quote link listener
		$('#schedule').on('click', 'p.quote', function(event){
  			event.preventDefault();
			fetchQuote($(this).attr('id'));
		});
		
		// fetch authors link listener
		$("a#fetch-authors").click(function(event){
			event.preventDefault();
			fetchAuthors();
		});

		// admin menu toggling
		$("a#admin-switch").click(function(event){
			$('#container>div').toggle();
			fetchSchedule();
			fetchAuthors();
		});

		// fetch one author for edition
		$('#authors-data').on('click', 'a.edit', function(event){
  			event.preventDefault();
			console.log('id: '+$(this).attr('id'));
			fetchAuthor($(this).attr('id'));
		});

		// delete one author
		$('#authors-data').on('click', 'a.delete', function(event){
  			event.preventDefault();
  			if(confirm("are you sure you want to delete this guy?")){
				console.log('sending delete id: '+$(this).attr('id'));
				deleteAuthor($(this).attr('id'));
			}
			else{}
		});


		// get current schedule and authors list
		fetchSchedule();
		fetchAuthors();

	});

	function clearAuthorForm(){
		$('#add-author input').val('');
		$('#add-author input[type="submit"]').val('add author');
	}

	function clearQuoteForm(){
		$('#add-quote input').val('');
		$('#add-quote input[type="submit"]').val('add quote');
	}

	// add quote to DB
	function addQuote(){
		console.log("posting new quote to server...");
		var formattedDate = new Date($('#pubdate').val().substr(0,4), (parseInt($('#pubdate').val().substr(5,2))-1), parseInt($('#pubdate').val().substr(8,2)));
		console.log("date: "+formattedDate);

		var data = {
			author:		$('#author').val(),
			authorID:	$('#author-id').val(),
			quoteUrl:	$('#quote-url').val(),
			quoteText:	$('#quote-text').val(),
			pubDate:	formattedDate
		};
		
		console.log(data);

		$.ajax({
		  type: "POST",
		  url: '/admin-add-quote',
		  data: JSON.stringify(data),
		  success: fetchSchedule
		});
	}


	// fetch quotes function
	function fetchQuote(pubdate){
		console.log('fetching quote... '+pubdate);
		var formattedDate = new Date($('#'+pubdate).parent().parent().attr('id').substring(1), $('#'+pubdate).parent().attr('id').substring(1), $('#'+pubdate).html());
		console.log('final pubdate... '+formattedDate);
			
		$.ajax({
			type: "POST",
			url: '/admin-fetch-quotes',
			data: formattedDate,
			success: setQuoteData
		});

		function setQuoteData(data){
			console.log('got quote data back from node:');
			console.log(data);

			$('#add-quote input').val('');
			$('#add-quote input[type="submit"]').val('update quote');
			$.each($.parseJSON(data), function(key, value){
				console.log("set field "+key+" to "+value);
				if($('#add-quote input[name = "'+key+'"]'))
					$('#add-quote input[name = "'+key+'"]').val(value);
				else
					$('#quote-dirt').append(key+" : "+value+" | ");
			});
		}
	}

	// check authorID existence
	function checkAuthorID(id_to_check){
		$("#quote-input #author-id").removeClass();
		for(var i = 0; i<currentAuthors.length; i++){
			if((currentAuthors[i])['authorID'] == id_to_check){
				$("#quote-input #author-id").removeClass();
				$("#quote-input #author-id").addClass('correct');
				break;
			}
			else
				$("#quote-input #author-id").addClass('incorrect');
		}
	}

	// add author to DB
	function addAuthor(){
		console.log("posting new author to server...");

		if($('#author-input #author-id').val() && $('#author-input #author-id').val() != ''){
			var data = {};
			$('#author-input fieldset input').each(function(index){
				if($(this).val() && $(this).val() != '' && $(this).attr('name') != '_id'){
					data[$(this).attr('name')] = ''+$(this).val();
				}
			});

			console.log('sending new author / update:');
			console.log(data);

			$.ajax({
			  type: "POST",
			  url: '/admin-add-author',
			  data: JSON.stringify(data),
			  success: fetchAuthors
			});
		}
		else{
			alert('please enter an authorID');
		}
	}

		// fetch authors function
	function deleteAuthor(_id){
		console.log("deleting one authors...");
			
		$.ajax({
			type: "POST",
			url: '/admin-delete-author',
			data: _id,
			success: fetchAuthors
		});
	}

	// fetch authors function
	function fetchAuthor(_id){
		console.log("fetching authors...");
			
		$.ajax({
			type: "POST",
			url: '/admin-fetch-authors',
			data: _id,
			success: setAuthorData
		});

		function setAuthorData(data){
			console.log('got author data back from node:');
			console.log(data);

			$('#add-author input').val('');
			$('#add-author input[type="submit"]').val('update author');
			$.each($.parseJSON(data), function(key, value){
				console.log("set field "+key+" to "+value);
				if($('#add-author input[name = "'+key+'"]'))
					$('#add-author input[name = "'+key+'"]').val(value);
				else
					$('#author-dirt').append(key+" : "+value+" | ");
			});
		}
	}

	// fetch authors function
	function fetchAuthors(){
		console.log("fetching authors...");
			
		$.ajax({
			type: "POST",
			url: '/admin-fetch-authors',
			data: null,
			success: listAuthors
		});

		function listAuthors(data){
			console.log('got authors list back from node:');
			console.log(data);

			currentAuthors = $.parseJSON(data);

			var rowTemplate = '<td class="actions"><a class="edit" href="#">edit</a> | <a class="delete" href="#">del</a></td><td class="_id"></td><td class="authorID"></td><td class="name"></td><td class="wikipediaRef"></td><td class="quotesomeUrl"></td><td></td><td class="photoPath"></td><td class="photoWidth"></td><td class="photoHeight"></td>';
			
			$('#author-output table tbody').empty();
			$.each($.parseJSON(data), function(index, value){
				$('#author-output table tbody').append('<tr id="r'+index+'">'+rowTemplate+'</tr>');
				$('#author-output table tbody tr#r'+index+' .edit').attr('id', value.authorID);
				$('#author-output table tbody tr#r'+index+' .delete').attr('id', value.authorID);
				$.each(value, function(key, prop){
					$('#author-output table tbody tr#r'+index+' .'+key).html(prop);
				});
			});
		}
	}

	// fetch schedule function
	function fetchSchedule(){
		console.log("fetching schedule...");
		
		$.ajax({
			type: "POST",
			url: '/admin-fetch-schedule',
			success: displaySchedule
		});
		
		function displaySchedule(data){
			console.log('got schedule back from node:');
			console.log(data);
			
			$('#schedule').empty();
			var json = $.parseJSON(data);
			var now = new Date();
			var endDate = new Date(now.getFullYear(), now.getMonth()+2, 1);
			
			// display these 3 months
			for(var startDate = new Date(now.getFullYear(), now.getMonth()-1, 1); startDate < endDate; startDate.setDate(startDate.getDate()+1)){
				var year = startDate.getFullYear();
				var month = startDate.getMonth();
				var day = startDate.getDate();
				
				if($('#schedule #y'+year).length == 0)
					$('#schedule').append('<div class="year" id="y'+year+'"><h3>'+year+'<h3></div>');
				
				if($('#schedule #y'+year+' #m'+month).length == 0)
					$('#schedule #y'+year).append('<div class="month" id="m'+month+'"><h4>'+monthNames[month]+'<h4></div>');
				
				if(json[year] && (json[year])[month] && ((json[year])[month])[day])
					$('#schedule #y'+year+' #m'+month).append('<p class="quote" id="'+year+'-'+month+'-'+day+'">'+day+'</p>');
				else
					$('#schedule #y'+year+' #m'+month).append('<p class="no-quote" id="'+year+'-'+month+'-'+day+'">'+day+'</p>');
				
			}
			
			$('#schedule #y'+now.getFullYear()+' #m'+now.getMonth()+' #d'+now.getDate()+'-'+now.getMonth()).addClass('today');
		}
	}

	// fetch quote detail from quotesome
	function fetchQuotesome(url){
		console.log("fetching "+$("form input[type='url']").val()+"...");
		var ExternalURL = url; // This address must not contain any leading 'http://'
		var freeDaySet = false;

		var QueryURL = "http://anyorigin.com/get?url=" + ExternalURL + "&callback=?";
		$.getJSON(QueryURL, function(data){
			if (data && data != null && typeof data == 'object' && data.contents && data.contents != null && typeof data.contents == 'string'){
				data = data.contents.replace(/<script[^>]*>[sS]*?<\/script>/gi, '');
				if (data.length > 0){
					$('#author').val($('.row .author', data).html());
					$('#author-id').val((($('.author', data).html()).toLowerCase()).replace(/ /g,'_'));
					$('#quote-url').val(url);
					$('#quote-text').val($('.quote-block-quote-text', data).html());
					var now = new Date();
					if(!freeDaySet)
						$('#pubdate').val(now.getFullYear()+'-'+(now.getMonth()<9 ? '0'+(now.getMonth()+1) : now.getMonth()+1)+'-'+(now.getDate()<10 ? '0'+now.getDate() : now.getDate()));
				}
			}
		});
		
					
		$.ajax({
			type: "POST",
			url: '/admin-fetch-schedule',
			success: updateDate
		});
		
		function updateDate(data){
			console.log('got something back from node: '+data);
				
			var json = $.parseJSON(data);
			var now = new Date();
			var safety = 0;
			while(true){
				if(!((json[now.getFullYear()]) && ((json[now.getFullYear()])[now.getMonth()]) && (((json[now.getFullYear()])[now.getMonth()])[now.getDate()]))){
					$('#pubdate').val(now.getFullYear()+'-'+(now.getMonth()<9 ? '0'+(now.getMonth()+1) : now.getMonth()+1)+'-'+(now.getDate()<10 ? '0'+now.getDate() : now.getDate()));
					freeDaySet = true;
					break;
				}
				now.setDate(now.getDate()+1);
				safety++;
				if(safety == 60) break;
			}
		}
	}
	
</script>

</head>

<body>
	<div id="container">
		<header>
			<h1>ADMIN (<a id="admin-switch" href="#">switch admin panel</a>)</h1>
		</header>
		
		<div id="quote-admin">
			<h2>Quote admin</h2>
			<section id="quote-input">
				<form id="fetch-url" onsubmit="return false;">
					<input type="url" name="source-url" placeholder="fetch from url" size="100" autofocus required value="http://quoteso.me/q/226937" />
					<div id="quote-dirt"></div>
					
					<input type="submit" value="fetch url" />
				</form>
			
				<form id="add-quote" onsubmit="return false;">
					<input id="author" name="author" type="text" size="60" placeholder="author (won't go in DB)" />
					<input id="author-id" name="authorID" type="text" size="60" placeholder="authorID" />
					<input id="quote-url" name="quotesomeUrl" type="url" size="60" placeholder="quote url" />
					<textarea id="quote-text" name="text" rows="5" cols="60" placeholder="quote text"></textarea>
					<input id="pubdate" name="date" type="date"/>
					<input id="block-font-size" name="block-font-size" type="text" size="40" placeholder="block font size (48px)" />
					
					<input type="submit" value="add quote" />
					<a id="clear-quote" href="#">clear form</a>
				</form>
			</section>
			
			<section id="quote-output">
				<h3>SCHEDULED QUOTES (<a id="fetch-schedule" href="#">fetch</a>)</h3>
				
				<article id="schedule">
				</article>
			</section>
			
			<section id="quote-unscheduled">
				<h3>UNSCHEDULED QUOTES</h3>
				
				<article id="unscheduled">
				</article>
			</section>
		</div>

		<div id="author-admin">
			<h2>Author admin</h2>
			<section id="author-input">
				<form id="add-author" onsubmit="return false;">
					<fieldset id="data">
						<legend>Data</legend>
						<input id="author-id" name="authorID" type="text" size="60" placeholder="authorID" required />
						<input id="author-name" name="name" type="text" size="60" placeholder="author" />
						<input id="author-wiki" name="wikipediaRef" type="text" size="60" placeholder="wikipediaID" />
						<input id="author-quotesome" name="quotesomeUrl" type="url" size="100" placeholder="quotesome url" />
						<input id="_id" name="_id" type="text" size="60" placeholder="_id"  disabled/>
						<div id="author-dirt"></div>
					</fieldset>

					<fieldset id="design">
						<legend>Design</legend>
						<input id="photo-url" name="photoPath" type="url" size="100" placeholder="photo url" />
						<input id="photo-width" name="photoWidth" type="text" size="40" placeholder="photo width (0)" />
						<input id="photo-height" name="photoHeight" type="text" size="40" placeholder="photo height (0)" />
						<input id="position-left" name="positionLeft" type="text" size="40" placeholder="position left (auto, use %)" />
						<input id="position-right" name="positionRight" type="text" size="40" placeholder="position right (auto, use %)" />
						<input id="position-top" name="positionTop" type="text" size="40" placeholder="position top (auto, use %)" />
						<input id="position-bottom" name="positionBottom" type="text" size="40" placeholder="position bottom (auto, use %)" />
						<input id="block-width" name="blockWidth" type="text" size="40" placeholder="block width (35%)" />
						<input id="block-font-color" name="blockFontColor" type="text" size="40" placeholder="block font color (#000)" />
						<input id="block-background-color" name="blockBackgroundColor" type="text" size="40" placeholder="block background color (none)" />
						<input id="bars-background-color" name="barsBackgroundColor" type="text" size="40" placeholder="bars background color (#fff)" />
						<input id="direction-slide" name="directionSlide" type="text" size="40" placeholder="direction slide (center)" />
					</fieldset>

					<input type="submit" value="add author" />
					<a id="clear-author" href="#">clear form</a>
					
				</form>
			</section>

			<section id="author-output">
				<a id="fetch-authors" href="#">FETCH AUTHORS</a>
				<table id="authors-data">
					<thead>
						<th>ACTIONS</th>
						<th>_id</th>
						<th>authorID</th>
						<th>name</th>
						<th>wikipediaRef</th>
						<th>quotesomeUrl</th>
						<th></th>
						<th>photoPath</th>
						<th>photoWidth</th>
						<th>photoHeight</th>
					</thead>
					<tbody>
					</tbody>
				</table>
			</section>
		</div>

		<footer>
		</footer>
	</div>
</body>

</html>
